# Duplicate this template file to create .env.development and .env.production
# All environment variables will be sourced
# and made available to gatsby-config.js, gatsby-node.js, etc.
# Do NOT commit this file to source control
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
# To enable previews locally, uncomment the next line:
# CONTENTFUL_HOST=preview.contentful.com
GATSBY_EMAILJS_SERVICE_ID=
GATSBY_EMAILJS_PUBLIC_KEY=